.gallery{
  display:flex;
    flex-wrap:wrap;
}

.image-card{
  padding:2%;
  width:30%;
  display:flex;
  flex-grow: 1;
}

.info{
  width:95%;
  align-self:center;
}

.gallery-img {
  border-style:solid;
  border-radius:10px;
  width:95%;
}


* {
  font-family:inherit;
  text-align:pcenter;
}

body{
  background-color:deeppink;
}

h1{
  font-size: 45px;
  background-color: hotpink;
  padding: 15px;
  border-style: solid;
  border-radius: 10px;
}

h2{ 
  margin: 0px;
}


.main-content > img {
  border-style: solid;
  border-radius: 20px;
  width: 90%;
  margin-bottom: 20px;
}
