h1
{
font-weight: bold;
}
• gallery display: flex; 
flex-wrap: wrap;
• image-card{ 
  padding: 2;
width: 30;
flex-grow: 1; 
display: flex;
}
• info{ width: 95;
align-self: center;

• gallery img {
border-style: 
  solid; border-radius: 10;
width: 95;
}
* {
font-family: inherit text-align: center;
｝
body{
background-color:deeppink;
｝
h1{
font-size: 30;
  background-color: hotpink; 
  padding: 18;
border-style: solid; 
  border-radius: 10;
h2 {
margin: 0;
}
•main-content img { 
border-style:solid; 
  border-radius: 20;
width: 90;
margin-bottom: 20;
}
